In [42]:
radius = 4.0
print('원의 반지름',radius)
print('원의 면적',3.14*radius**2)
print('원의 둘레',2.0*3.14*radius)

원의 반지름 4.0
원의 면적 50.24
원의 둘레 25.12

In [53]:
name = '홍길동'
age = 27
print('\'안녕!\' 나는',name,'이야. 나는 나이가',age,'살이야.')

'안녕!' 나는 홍길동 이야. 나는 나이가 27 살이야.

In [55]:
width = 20
height = 40
width = 30
area = width * height
print('사각형의 면적',area)

사각형의 면적 1200

In [57]:
x = 5
y = 2
print(5%2)

1

In [1]:
x = 2
y = 3
print(x**(1/2))
print(y**(1/2))

1.4142135623730951
1.7320508075688772

In [11]:
intnum = 100
floatnum = 100.0
strdata = "하이"
type(intnum)
type(floatnum)
type(strdata)

str

In [17]:
intnum = 100
num = str(intnum)
type(num)
strdata = "안녕"
print(strdata + num)

안녕100

In [19]:
hello = "여러분 안녕하세요!!"
print(hello)

여러분 안녕하세요!!

In [21]:
hello = '"여러분"안녕하세요!!'
print(hello)

"여러분"안녕하세요!!

In [22]:
hello_1 = '''안녕하세요 반갑습니다
여기는 스마트 팩토리 수업반 입니다'''
print(hello_1)

안녕하세요 반갑습니다
여기는 스마트 팩토리 수업반 입니다

In [24]:
hello_2 = "안녕 \n 하세요"
print(hello_2)

안녕
 하세요

In [27]:
a = "\x61"
print(a)

a

In [28]:
#boolean 형
print(2==3)

False

In [34]:
print(2==3 and 2==2)

False

In [35]:
print(2==3 or 2==2)

True

In [39]:
#복소수 연산
number_1 = 2+3j
number_2 = 3+6j
print(number_1.imag)
print(number_1.real)

3.0
2.0

In [45]:
print(number_1 + number_2)
print(number_1 - number_2)
print(number_1*number_2)
print(number_1 / number_2)

(5+9j)
(-1-3j)
(-12+21j)
(0.5333333333333333-0.06666666666666667j)

In [46]:
#bool 테스트
bool(-1)

True

In [47]:
bool(0)

False

In [50]:
bool(10)

True

In [52]:
bool(None)

False

In [53]:
bool('')

False

In [54]:
bool(a)

True

In [59]:
str = 'hello'
bool(str)

True

In [66]:
bool(str == 'hello')

True

In [67]:
'''
이것은 지금 파이썬 데이터 코딩 하고 있는 모습입니다.
그렇죠
'''
print('맞나요?')

맞나요?

In [68]:
input_data = input("당신이 사는 곳은?")
print(input_data)

당신이 사는 곳은?일산
일산

In [69]:
input_data2 = input("당신의 이름은?")
print(input_data2,"님, 반갑습니다.")

당신의 이름은?박현
박현 님, 반갑습니다.

In [74]:
num = 100
print('num',num)
num += 100
print('num',num)
num *= 2
print('num',num)

num 100
num 200
num 400